body, html {
	font-family: Comic Sans MS;
	font-size: 18px;
}

html:after {
	content: "";
	background: url('./shitbg.png');
	opacity: 0.6;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: cyan;
}

.top-menu, .bottom-menu {
	background-color: #397489;
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	padding: 30px;
	margin: 15px;
	min-height: 40px;
}

.menu {
	background-color: #f0f0f0;
	font-weight: 700;
	margin: 15px;
	padding: 10px;
}

.quote {
	padding: 8px;
	margin: 15px;
	font-size: 13px;
	margin-bottom: 30px;
	background-color: #fafafa;
	border: 2px dashed #397489;
}

.quote-text {
	display: block;
	font-size: 18px;
}

.welcome-box {
	background-color: #ddd;
	margin-left: 15px;
	padding: 5px;
	border: 1px dashed #333;
}

.search-form {
	background-color: #f0f0f0;
	margin: 15px;
	padding: 10px;
}
